
.BeritaUKMB_BeritaUKMB {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 1440px;
	height: 1996px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}

.BeritaUKMB_BeritaUKMB .beritaukm{
	text-align: center;
}

.BeritaUKMB_BeritaUKMB .Rectangle40 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 260px;
	width: 160px;
	height: 46px;
}
.BeritaUKMB_BeritaUKMB .Vectors {
	position: absolute;
	left: 1340px;
	top: 80px;
	width: 100px;
	height: 1776px;
	mix-blend-mode: normal;
}
.BeritaUKMB_BeritaUKMB .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Vectors_1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 1776px;
	mix-blend-mode: normal;
}
.BeritaUKMB_BeritaUKMB .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Frame366 {
	position: absolute;
	left: 160px;
	top: 715px;
	width: 1120.04736328125px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets {
	position: relative;
	margin-bottom: 10px;
	width: 1120.04736328125px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .sheet {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .Group337 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .Group337 .Group361 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .Group337 .Group361 .Rectangle26 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .Group337 .Group361 .JuaraTaekwondo1 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .UnitTaekwondoUnpad {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .Jumat25Maret2022 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame366 .Alltickets .cardsdefault .Group362 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338 {
	position: absolute;
	left: 159px;
	top: 1080px;
	width: 1120.04736328125px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 {
	position: relative;
	margin-bottom: 10px;
	width: 1120.04736328125px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .sheet_1 {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 .Group361_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 .Group361_1 .Rectangle26_1 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 .Group361_1 .JuaraTaekwondo1_1 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_1 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .UnitTaekwondoUnpad_1 {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Jumat25Maret2022_1 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya_1 {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 {
	position: absolute;
	left: 160px;
	top: 1445px;
	width: 1120.04736328125px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 {
	position: relative;
	margin-bottom: 10px;
	width: 1120.04736328125px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .sheet_2 {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 .Group361_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 .Group361_2 .Rectangle26_2 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 .Group361_2 .JuaraTaekwondo1_2 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_2 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .UnitTaekwondoUnpad_2 {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Jumat25Maret2022_2 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya_2 {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .beritaukm {
	position: absolute;
	left: 488px;
	top: 145px;
	width: 463px;
	height: 60px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}
.BeritaUKMB_BeritaUKMB .Footer {
	position: absolute;
	left: 0px;
	top: 1856px;
	width: 1440px;
	height: 140px;
	background : rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .PageHeaderSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .PageHeaderSecondary .PageHeader {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .PageHeaderSecondary .PageHeader .ColorsSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .PageHeaderSecondary .PageHeader .ProjectBrandGuidelines {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 62px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .PageHeaderSecondary .PageHeader ._2020 {
	position: absolute;
	left: 1416px;
	top: 62px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 {
	position: absolute;
	left: 60px;
	top: 34px;
	width: 1320px;
	height: 72.7998046875px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .UKMsCare2022 {
	position: absolute;
	left: 580px;
	top: 30.7998046875px;
	width: 159.0716552734375px;
	height: 13.5302734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group341 {
	position: absolute;
	left: 1094.0831298828125px;
	top: 1.86669921875px;
	width: 225.9168701171875px;
	height: 70.93310546875px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group341 .FollowUs {
	position: absolute;
	text-align: center;
	left: 64px;
	top: 0px;
	width: 108.16876220703125px;
	height: 17.28857421875px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group341 .instagram1 {
	position: absolute;
	left: 0px;
	top: 26.13330078125px;
	width: 41.9559326171875px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group341 .facebook1 {
	position: absolute;
	left: 60.2445068359375px;
	top: 28.93310546875px;
	width: 43.03179931640625px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group341 .twitter1 {
	position: absolute;
	left: 121.5648193359375px;
	top: 28.93310546875px;
	width: 48.4107666015625px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group341 .gmail1 {
	position: absolute;
	left: 188.2640380859375px;
	top: 32.66650390625px;
	width: 37.65283203125px;
	height: 29.86669921875px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group364 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 283.718017578125px;
	height: 64.56982421875px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group364 .UKMUnpad {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.71044921875px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group364 .AboutUs {
	position: absolute;
	left: 176.82177734375px;
	top: 0px;
	width: 106.896240234375px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group364 .Help {
	position: absolute;
	left: 181.125px;
	top: 45.02587890625px;
	width: 54.720703125px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaUKMB_BeritaUKMB .Footer .Group226 .Group224 .Group364 .BeritaUKM {
	position: absolute;
	left: 0px;
	top: 45.02587890625px;
	width: 131.0751953125px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaUKMB_BeritaUKMB .Group365 {
	position: absolute;
	left: 160px;
	top: 265px;
	width: 1119px;
	height: 40.28564453125px;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 164px;
	height: 40.28564453125px;
	display: flex;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	box-sizing: border-box;
	background : rgba(255,255,255,1);
	border-radius: 3px;
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 {
	position: relative;
	margin-right: 17px;
	width: 13px;
	height: 14.857421875px;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle31 {
	position: absolute;
	left: 4.7275390625px;
	top: 0px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle32 {
	position: absolute;
	left: 9.45458984375px;
	top: 0px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle33 {
	position: absolute;
	left: 0px;
	top: 5.4013671875px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle34 {
	position: absolute;
	left: 4.7275390625px;
	top: 5.4013671875px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle35 {
	position: absolute;
	left: 9.45458984375px;
	top: 5.4013671875px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle36 {
	position: absolute;
	left: 0px;
	top: 10.8056640625px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle37 {
	position: absolute;
	left: 4.7275390625px;
	top: 10.8056640625px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Group358 .Rectangle38 {
	position: absolute;
	left: 9.45458984375px;
	top: 10.8056640625px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Kategori {
	position: relative;
	margin-right: 17px;
	width: 88px;
	height: 18.28564453125px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame359 .Polygon1 {
	position: relative;
	margin-right: 17px;
	width: 7px;
	height: 8px;
	background : rgba(0,0,0,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 {
	position: absolute;
	left: 183px;
	top: 0px;
	width: 164px;
	height: 40px;
	display: flex;
	padding-top: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	box-sizing: border-box;
	background : rgba(255,255,255,1);
	border-radius: 3px;
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 {
	position: relative;
	margin-right: 38px;
	width: 13px;
	height: 14.857421875px;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle30_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle31_1 {
	position: absolute;
	left: 4.7275390625px;
	top: 0px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle32_1 {
	position: absolute;
	left: 9.45458984375px;
	top: 0px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle33_1 {
	position: absolute;
	left: 0px;
	top: 5.4013671875px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle34_1 {
	position: absolute;
	left: 4.7275390625px;
	top: 5.4013671875px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle35_1 {
	position: absolute;
	left: 9.45458984375px;
	top: 5.4013671875px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle36_1 {
	position: absolute;
	left: 0px;
	top: 10.8056640625px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle37_1 {
	position: absolute;
	left: 4.7275390625px;
	top: 10.8056640625px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Group358_1 .Rectangle38_1 {
	position: absolute;
	left: 9.45458984375px;
	top: 10.8056640625px;
	width: 3.54541015625px;
	height: 4.0517578125px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .UKM {
	position: relative;
	margin-right: 38px;
	width: 46px;
	height: 18px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame361 .Polygon1_1 {
	position: relative;
	margin-right: 38px;
	width: 7px;
	height: 8px;
	background : rgba(0,0,0,1);
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame2 {
	position: absolute;
	left: 724px;
	top: 0px;
	width: 27.07774798927614%;
	height: 40px;
	display: flex;
	padding-top: 11px;
	padding-right: 17px;
	padding-bottom: 11px;
	padding-left: 17px;
	box-sizing: border-box;
	background : rgba(252.00000017881393,252.00000017881393,252.00000017881393,1);
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame2 .evasearchoutline {
	position: relative;
	margin-right: 12px;
	width: 4.993924685437294%;
	height: 42.857666015625%;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame2 .evasearchoutline .Vector_4 {
	position: absolute;
	left: 1.8914794921875px;
	top: 2.14306640625px;
	width: 75.02379838332338%;
	height: 75.0234982483124%;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame2 .Search {
	position: relative;
	margin-right: 12px;
	width: 37.22769859993812%;
	height: 45%;
	color : rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.40625px;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame360 {
	position: absolute;
	left: 1027px;
	top: 0px;
	width: 92px;
	height: 40px;
	display: flex;
	padding-top: 10px;
	padding-right: 17px;
	padding-bottom: 10px;
	padding-left: 17px;
	box-sizing: border-box;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Group365 .Frame360 .Search_1 {
	position: relative;
	margin-right: 10px;
	width: 58px;
	height: 20px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 18.75px;
}
.BeritaUKMB_BeritaUKMB .Rectangle41 {
	visibility: hidden;
	position: absolute;
	left: 1280px;
	top: 260px;
	width: 160px;
	height: 46px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 {
	position: absolute;
	left: 160px;
	top: 350px;
	width: 1120px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 {
	position: relative;
	margin-bottom: 10px;
	width: 1120px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .sheet_3 {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 .Group361_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 .Group361_3 .Rectangle26_3 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 .Group361_3 .JuaraTaekwondo1_3 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_3 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .UnitTaekwondoUnpad_3 {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Jumat25Maret2022_3 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya_3 {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame365 {
	position: absolute;
	left: -20px;
	top: -20px;
	width: 1440px;
	height: 120px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 {
	position: relative;
	margin-bottom: 10px;
	width: 1440px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin {
	position: relative;
	margin-bottom: 10px;
	width: 1440px;
	height: 80px;
	background : rgba(255,255,255,1);
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Group222 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ColorsSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ProjectBrandGuidelines_1 {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 32px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 ._2020_1 {
	position: absolute;
	left: 1416px;
	top: 32px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame375 {
	position: absolute;
	left: 20px;
	top: 3px;
	width: 100px;
	height: 75px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame375 .Screenshot_20220306_161229removebgpreview4 {
	position: relative;
	margin-bottom: 10px;
	width: 80px;
	height: 55px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame238 {
	position: absolute;
	left: 140px;
	top: 29px;
	width: 304.6900634765625px;
	height: 22.294921875px;
	display: flex;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame238 .UKMUnpad_1 {
	position: relative;
	margin-right: 5px;
	width: 154.095947265625px;
	height: 22.294921875px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame238 .BeritaUKM_1 {
	position: relative;
	margin-right: 5px;
	width: 145.5941162109375px;
	height: 22.294921875px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame376 {
	position: absolute;
	left: 1304.974609375px;
	top: 5px;
	width: 70px;
	height: 70px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaUKMB_BeritaUKMB .Frame365 .Frame363 .NavbarSetelahLogin .Frame376 .Vector_5 {
	position: relative;
	margin-right: 10px;
	width: 71.42857142857143%;
	height: 71.42857142857143%;
}