.BeritaUKMB_BeritaUKMB {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 1440px;
	height: 1996px;
	background : rgba(255,255,255,1);
	box-sizing: border-box;
}

.BeritaUKMB_BeritaUKMB .beritaukm{
	text-align: center;
}

.BeritaUKMB_BeritaUKMB .Rectangle40 {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 260px;
	width: 160px;
	height: 46px;
}
.BeritaUKMB_BeritaUKMB .Vectors {
	position: absolute;
	left: 1340px;
	top: 80px;
	width: 100px;
	height: 1776px;
	mix-blend-mode: normal;
}
.BeritaUKMB_BeritaUKMB .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Vectors_1 {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 1776px;
	mix-blend-mode: normal;
}
.BeritaUKMB_BeritaUKMB .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}
.BeritaUKMB_BeritaUKMB .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1776px;
}

.BeritaUKMB_BeritaUKMB .beritaukm {
	position: absolute;
	left: 488px;
	top: 145px;
	width: 463px;
	height: 60px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}
.BeritaUKMB_BeritaUKMB .Rectangle41 {
	visibility: hidden;
	position: absolute;
	left: 1280px;
	top: 260px;
	width: 160px;
	height: 46px;
}

