
.BeritaSingle_BeritaSingle {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 1440px;
	height: 2021px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Vectors {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 1801px;
	mix-blend-mode: normal;
}
.BeritaSingle_BeritaSingle .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1801px;
}
.BeritaSingle_BeritaSingle .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1801px;
}
.BeritaSingle_BeritaSingle .Vectors_1 {
	position: absolute;
	left: 1340px;
	top: 80px;
	width: 100px;
	height: 1801px;
	mix-blend-mode: normal;
}
.BeritaSingle_BeritaSingle .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1801px;
}
.BeritaSingle_BeritaSingle .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1801px;
}
.BeritaSingle_BeritaSingle .Frame367 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 238px;
	width: 1140px;
	height: 92px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame367 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022 {
	position: relative;
	text-align: center;
	margin-right: 10px;
	width: 1120px;
	height: 72px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}
.BeritaSingle_BeritaSingle .Frame369 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 354px;
	width: 379px;
	height: 44px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame369 .UnitTaekwondoUnpad {
	position: relative;
	text-align: center;
	margin-right: 10px;
	width: 359px;
	height: 24px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
.BeritaSingle_BeritaSingle .Frame370 {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 414px;
	width: 508px;
	height: 44px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame370 .Jumat25Maret20221600WIB {
	position: relative;
	text-align: center;
	margin-right: 10px;
	width: 488px;
	height: 24px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}
.BeritaSingle_BeritaSingle .Frame371 {
	position: absolute;
	left: 334px;
	top: 498px;
	width: 758.776611328125px;
	height: 590px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame371 .JuaraTaekwondo1 {
	position: relative;
	margin-bottom: 10px;
	width: 738.776611328125px;
	height: 570px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.BeritaSingle_BeritaSingle .Frame372 {
	position: absolute;
	left: 212px;
	top: 1103px;
	width: 1020px;
	height: 730px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame372 .LoremipsumdolorsitametconsecteturadipiscingelitSuspendisseamettristiquemontesnislmolestiemattisametnisiultriciesUrnapurusdiammassavitaeAcvitaenuncleosenectusegetegetfacilisieuismodAdipiscingportalobortisutfelisaliquamconsequatnatoqueNetusatametsedtortornibhpurustortorVariusvulputatejustopurusmiconsectetursedSuspendisseenimsempertortorvolutpatnecSempererosdolormorbirisusvitaeSollicitudinutnamlectusenimDictumporttitormorbirhoncusadipiscingtristiquesapienscelerisqueBibendumaateuametveliterosnislTemporetutultricieseueteratnecelitinEstmetuscongueadipiscingaliquamDonecconsequatseddictumgravidaornareCrasestultricesegestasegetleoultriciessempersitsedTristiqueorcivariusvolutpatmiacrasullamcorpervestibulumnonSedrhoncussitsagittisturpiseleifendAeneansitnuncvolutpatnisiDonecconsequatseddictumgravidaornareCrasestultricesegestasegetleoultriciessempersitsedTristiqueorcivariusvolutpatmiacrasullamcorpervestibulumnonSedrhoncussitsagittisturpiseleifendAeneansitnuncvolutpatnisiEtiamsitnisipellentesqueultricesaliquetcrasorcisemperTinciduntinvitaefringillaurnapulvinarSedseddolornequeornarefaucibusattemporegetcurabiturSiteleifendleoeuincursusloremdiamelementumametHabitantfelisametcrasnonvitaeAtmagnaetfacilisistellusturpisTellussapiennislconsecteturutSuspendisselacusmaecenasacatnislimperdietsitUltricesegetdictumsedametidpulvinarsedMassamassatellusnequemagnaCongueegetelementumtelluspellentesqueAliquettellusfermentumnonenimpellentesqueestfacilisisMalesuadaintegerinornarefaucibusloremLorematlacusvestibulumproinmaurisNibhametornareerospurussenectusvitaearcuNoneuutdignissimatacquisvariusvitaedonecUllamcorperenimleoadipiscingmorbimalesuadaaliquetsitEtmassaenimelitdignissimnuncquisurnasitEstsapienultricesconvallistellusportatemporAugueestvariusdiamnecproinvariusNisiportaetiamarcumagnaenimaliquetauguefaucibusDuisegetacintegertristiquemaurisvelultriciesTinciduntdignissimsemquissemproinmimolestieNammaurisvolutpattortorpraesentnamametnullafacilisisSuscipitscelerisquehacduitortorelementumcondimentumnislquisTortormetusnuncviverracumidPharetravariusvenenatisgravidasapiensedpharetralectusametEgestasfermentumviverravolutpatmetusvelitFeugiateumaurisnetusluctuslacusorciconsequatMalesuadahabitassepellentesqueestenimTinciduntduisornarebibendumaeneanNullamaliquetpharetrainegethacVelsuspendissenullatemportortortellusvitaefermentumAtinterdumleoeratetquamconsecteturenimEnimelementuminvitaeegestasinestfacilisissedutDuisnullanislquisegestasfelisipsumaccumsannullamCumnetusseddolorfaucibussagittisfacilisitinciduntEgetpurusmorbiegestasnontristiqueimperdietvelUltricesmorbinunctinciduntmaurisdapibusPulvinarquamgravidasedsedidintegerornareTurpisturpisatsedvenenatisTellussedfacilisilobortistellusvariusscelerisqueegetUrnaelitfeugiatlectusvolutpathendreritadipiscingnequeLeoquisquevelitpellentesqueelitTristiquenibhidetturpismassatemporviverrasitOdioscelerisqueintegerliberourna {
	position: relative;
	margin-right: 10px;
	width: 1000px;
	height: 710px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Frame373 {
	position: absolute;
	left: -10px;
	top: 1871px;
	width: 1440px;
	height: 160px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer {
	position: relative;
	margin-bottom: 10px;
	width: 1440px;
	height: 140px;
	background : rgba(255,255,255,1);
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .PageHeaderSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .PageHeaderSecondary .PageHeader {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .PageHeaderSecondary .PageHeader .ColorsSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .PageHeaderSecondary .PageHeader .ProjectBrandGuidelines {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 62px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .PageHeaderSecondary .PageHeader ._2020 {
	position: absolute;
	left: 1416px;
	top: 62px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 {
	position: absolute;
	left: 60px;
	top: 34px;
	width: 1320px;
	height: 72.7998046875px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .UKMsCare2022 {
	position: absolute;
	left: 580px;
	top: 30.7998046875px;
	width: 159.0717010498047px;
	height: 13.5302734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group341 {
	position: absolute;
	left: 1094.0831298828125px;
	top: 1.86669921875px;
	width: 225.9168701171875px;
	height: 70.93310546875px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group341 .FollowUs {
	position: absolute;
	text-align: center;
	left: 64px;
	top: 0px;
	width: 108.16876220703125px;
	height: 17.28857421875px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group341 .instagram1 {
	position: absolute;
	left: 0px;
	top: 26.13330078125px;
	width: 41.95599365234375px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group341 .facebook1 {
	position: absolute;
	left: 60.2445068359375px;
	top: 28.93310546875px;
	width: 43.03179931640625px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group341 .twitter1 {
	position: absolute;
	left: 121.5648193359375px;
	top: 28.93310546875px;
	width: 48.4107666015625px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group341 .gmail1 {
	position: absolute;
	left: 188.2640380859375px;
	top: 32.66650390625px;
	width: 37.65283203125px;
	height: 29.86669921875px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group364 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 283.71795654296875px;
	height: 64.56982421875px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group364 .UKMUnpad {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.71051025390625px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group364 .AboutUs {
	position: absolute;
	left: 176.82177734375px;
	top: 0px;
	width: 106.89617919921875px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group364 .Help {
	position: absolute;
	left: 181.125px;
	top: 45.02587890625px;
	width: 54.720672607421875px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaSingle_BeritaSingle .Frame373 .Footer .Group226 .Group224 .Group364 .BeritaUKM {
	position: absolute;
	left: 0px;
	top: 45.02587890625px;
	width: 131.0750732421875px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaSingle_BeritaSingle .Group385 {
	visibility: hidden;
	position: absolute;
	left: 1115px;
	top: 110px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Group385 .Group239 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Group385 .Group239 .Group294 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Group385 .Group239 .Group294 .Group293 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Group385 .Group239 .Group294 .Group293 .Rectangle13 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.BeritaSingle_BeritaSingle .Group385 .Group322 {
	position: absolute;
	left: 30px;
	top: 13.7431640625px;
	width: 140.29473876953125px;
	height: 19.6787109375px;
}
.BeritaSingle_BeritaSingle .Group385 .Group322 .Group321 {
	position: absolute;
	left: 40px;
	top: 4.2568359375px;
	width: 100.29473876953125px;
	height: 13.33349609375px;
}
.BeritaSingle_BeritaSingle .Group385 .Group322 .Group321 .Kembali {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100.29473876953125px;
	height: 13.33349609375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Group385 .Group322 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 19.957982919086447%;
	height: 100%;
}
.BeritaSingle_BeritaSingle .Frame382 {
	position: absolute;
	left: -20px;
	top: -20px;
	width: 1440px;
	height: 120px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 {
	position: relative;
	margin-bottom: 10px;
	width: 1440px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin {
	position: relative;
	margin-bottom: 10px;
	width: 1440px;
	height: 80px;
	background : rgba(255,255,255,1);
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Group222 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ColorsSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ProjectBrandGuidelines_1 {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 32px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 ._2020_1 {
	position: absolute;
	left: 1416px;
	top: 32px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame375 {
	position: absolute;
	left: 20px;
	top: 3px;
	width: 100px;
	height: 75px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame375 .Screenshot_20220306_161229removebgpreview4 {
	position: relative;
	margin-bottom: 10px;
	width: 80px;
	height: 55px;
	object-fit: cover;
	overflow: hidden;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame238 {
	position: absolute;
	left: 140px;
	top: 29px;
	width: 304.6900634765625px;
	height: 22.294921875px;
	display: flex;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame238 .UKMUnpad_1 {
	position: relative;
	margin-right: 5px;
	width: 154.095947265625px;
	height: 22.294921875px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame238 .BeritaUKM_1 {
	position: relative;
	margin-right: 5px;
	width: 145.59410095214844px;
	height: 22.294921875px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame376 {
	position: absolute;
	left: 1304.974609375px;
	top: 5px;
	width: 70px;
	height: 70px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame382 .Frame368 .NavbarSetelahLogin .Frame376 .Vector_5 {
	position: relative;
	margin-right: 10px;
	width: 71.42857142857143%;
	height: 71.42857142857143%;
}
.BeritaSingle_BeritaSingle .Frame323 {
	position: absolute;
	left: 1115px;
	top: 139px;
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 {
	position: relative;
	margin-bottom: 10px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group239_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group239_1 .Group294_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group239_1 .Group294_1 .Group293_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group239_1 .Group294_1 .Group293_1 .Rectangle13_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 50px;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group322_1 {
	position: absolute;
	left: 31px;
	top: 15.0732421875px;
	width: 138.29473876953125px;
	height: 17.296875px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group322_1 .Group321_1 {
	position: absolute;
	left: 38px;
	top: 2.92724609375px;
	width: 100.29473876953125px;
	height: 13.33349609375px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group322_1 .Group321_1 .Kembali_1 {
	position: absolute;
	text-align: center;
	left: 0px;
	top: 0px;
	width: 100.29473876953125px;
	height: 13.33349609375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.BeritaSingle_BeritaSingle .Frame323 .Group384 .Group385_1 .Group322_1 .Vector_6 {
	position: absolute;
	left: 20px;
	top: 2px;
	width: 20.246612596493723%;
	height: 100%;
}