.Frame338_2 {
	position: relative;
	left: 160px;
	top: 350px;
	width: 1120px;
	/* height: 350px; */
    
	display: flex;
    flex: 1;
    border-radius: 5px;
    margin-bottom : 5px;
	/* flex-direction: column; */
	box-sizing: border-box;
}
.Frame338_2 .Alltickets_3 {
	position: relative;
	margin-bottom: 10px;
	width: 1120px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .sheet_3 {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 .Group361_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 .Group361_3 .Rectangle26_3 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Group337_3 .Group361_3 .Image {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 300px;
	height: 210px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Title {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .UKM_Name {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Date {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Frame338_2 .Alltickets_3 .cardsdefault_3 .Group362_3 .Content {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.Frame366 {
	position: absolute;
	left: 160px;
	top: 715px;
	width: 1120.04736328125px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame366 .Alltickets {
	position: relative;
	margin-bottom: 10px;
	width: 1120.04736328125px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.Frame366 .Alltickets .cardsdefault {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.Frame366 .Alltickets .cardsdefault .sheet {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Frame366 .Alltickets .cardsdefault .Group362 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .Group337 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .Group337 .Group361 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .Group337 .Group361 .Rectangle26 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.Frame366 .Alltickets .cardsdefault .Group362 .Group337 .Group361 .JuaraTaekwondo1 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .UnitTaekwondoUnpad {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .Jumat25Maret2022 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Frame366 .Alltickets .cardsdefault .Group362 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Frame338 {
	position: absolute;
	left: 159px;
	top: 1080px;
	width: 1120.04736328125px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame338 .Alltickets_1 {
	position: relative;
	margin-bottom: 10px;
	width: 1120.04736328125px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.Frame338 .Alltickets_1 .cardsdefault_1 {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .sheet_1 {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 .Group361_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 .Group361_1 .Rectangle26_1 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Group337_1 .Group361_1 .JuaraTaekwondo1_1 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_1 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .UnitTaekwondoUnpad_1 {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .Jumat25Maret2022_1 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Frame338 .Alltickets_1 .cardsdefault_1 .Group362_1 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya_1 {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Frame338_1 {
	position: absolute;
	left: 160px;
	top: 1445px;
	width: 1120.04736328125px;
	height: 350px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame338_1 .Alltickets_2 {
	position: relative;
	margin-bottom: 10px;
	width: 1120.04736328125px;
	height: 350px;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,1);
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 {
	position: absolute;
	left: -0.99951171875px;
	top: -2.353515625px;
	width: 1120.709716796875px;
	height: 350.35400390625px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .sheet_2 {
	position: absolute;
	left: 0.99951171875px;
	top: 2.353515625px;
	width: 1120.23291015625px;
	height: 350.353515625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	border: 3px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 {
	position: absolute;
	left: 45.99951171875px;
	top: 42.97705078125px;
	width: 1028.1875px;
	height: 262.7451171875px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 {
	position: absolute;
	left: 679.154541015625px;
	top: 0.244140625px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 .Group361_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 348.9990234375px;
	height: 262.5px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 .Group361_2 .Rectangle26_2 {
	position: absolute;
	left: 0.119140625px;
	top: 0.154296875px;
	width: 348.7606201171875px;
	height: 262.19091796875px;
	background : rgba(255,255,255,1);
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Group337_2 .Group361_2 .JuaraTaekwondo1_2 {
	position: absolute;
	left: 24.1451416015625px;
	top: 25.02880859375px;
	width: 302.2589111328125px;
	height: 212.74951171875px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_2 {
	position: absolute;
	left: 0.18115234375px;
	top: 33.3759765625px;
	width: 626.0003662109375px;
	height: 80.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 26px;
	font-weight: 700;
	line-height: 26px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .UnitTaekwondoUnpad_2 {
	position: absolute;
	left: 0.153076171875px;
	top: 0.24169921875px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .Jumat25Maret2022_2 {
	position: absolute;
	left: 0.154541015625px;
	top: 248.3759765625px;
	width: 456px;
	height: 14.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.Frame338_1 .Alltickets_2 .cardsdefault_2 .Group362_2 .UnitTaekwondoUnpadpadatanggal24Maret2022berhasilmeraihperunggupadakejuaraantaekwondotingkatnasionalpadaGaneshaCup2022PerunggutersebutdimenangkanolehBacaSelengkapnya_2 {
	position: absolute;
	left: 0.153564453125px;
	top: 113.24169921875px;
	width: 626.00048828125px;
	height: 121.0009765625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.BeritaUKMB_BeritaUKMB .notFound {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 400px;
	width: 500px;
	height: 46px;
	text-align: center;
	font-size: 40px;
	font-family: Oxygen;
	color: black;
}