
.HomepageA_1_HomepageA {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 1440px;
	height: 2600px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .Vectors {
	position: absolute;
	left: 0px;
	top: 633px;
	width: 100px;
	height: 1827px;
	mix-blend-mode: normal;
}
.HomepageA_1_HomepageA .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1827px;
}
.HomepageA_1_HomepageA .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1827px;
}
.HomepageA_1_HomepageA .Vectors_1 {
	position: absolute;
	left: 1340px;
	top: 633px;
	width: 100px;
	height: 1827px;
	mix-blend-mode: normal;
}
.HomepageA_1_HomepageA .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1827px;
}
.HomepageA_1_HomepageA .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 1827px;
}
.HomepageA_1_HomepageA .Group334 {
	position: absolute;
	left: 102px;
	top: 1886px;
	width: 1182.974365234375px;
	height: 444.16650390625px;
	
}
.HomepageA_1_HomepageA .Group334 .Group326 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 777.782470703125px;
	height: 444.16650390625px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Rectangle23 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 372.59033203125px;
	height: 444.16650390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Rectangle24 {
	position: absolute;
	left: 405.19189453125px;
	top: 0px;
	width: 372.59033203125px;
	height: 444.16650390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 {
	position: absolute;
	left: 437.793701171875px;
	top: 27.63671875px;
	width: 308.318603515625px;
	height: 393.06396484375px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .JuaraTaekwondo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.318603515625px;
	height: 209.251953125px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022 {
	position: absolute;
	left: 0px;
	top: 231.95361328125px;
	width: 299.935302734375px;
	height: 79.3203125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .UnitTaekwondoUnpad {
	position: absolute;
	left: 0px;
	top: 343.48876953125px;
	width: 195.60986328125px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group326_1 .Jumat25Maret2022 {
	position: absolute;
	left: 0px;
	top: 379.18310546875px;
	width: 178.843505859375px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 {
	position: absolute;
	left: 31.670166015625px;
	top: 27.63671875px;
	width: 308.318603515625px;
	height: 393.06396484375px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .JuaraTaekwondo1_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.318603515625px;
	height: 209.251953125px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_1 {
	position: absolute;
	left: 0px;
	top: 231.95361328125px;
	width: 299.935302734375px;
	height: 79.3203125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .UnitTaekwondoUnpad_1 {
	position: absolute;
	left: 0px;
	top: 343.48876953125px;
	width: 195.60986328125px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group326 .Group325 .Jumat25Maret2022_1 {
	position: absolute;
	left: 0px;
	top: 379.18310546875px;
	width: 178.843505859375px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group327 {
	position: absolute;
	left: 810.384033203125px;
	top: 0px;
	width: 372.59033203125px;
	height: 444.16650390625px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Rectangle25 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 372.59033203125px;
	height: 444.16650390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 {
	position: absolute;
	left: 31.670166015625px;
	top: 27.63671875px;
	width: 308.318603515625px;
	height: 393.06396484375px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .JuaraTaekwondo1_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 308.318603515625px;
	height: 209.251953125px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .UnitTaekwondoUnpadberhasilmeraihperunggudiGaneshaCup2022_2 {
	position: absolute;
	left: 0px;
	top: 231.95361328125px;
	width: 299.935302734375px;
	height: 79.3203125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .UnitTaekwondoUnpad_2 {
	position: absolute;
	left: 0px;
	top: 343.48876953125px;
	width: 195.60986328125px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .Group334 .Group327 .Group325_1 .Jumat25Maret2022_2 {
	position: absolute;
	left: 0px;
	top: 379.18310546875px;
	width: 178.84326171875px;
	height: 13.880859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.HomepageA_1_HomepageA .beritaukm {
	position: absolute;
	left: 495px;
	top: 1781px;
	width: 371px;
	height: 48px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}
.HomepageA_1_HomepageA .Line5 {
	position: absolute;
	left: 346px;
	top: 1849px;
	width: 693.08740234375px;
	height: 0px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
	border: 3px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.HomepageA_1_HomepageA .Arrow1 {
	position: absolute;
	left: 1269px;
	top: 2372px;
	width: 30px;
	height: 0px;
}
.HomepageA_1_HomepageA .BeritaSelengkapnya {
	position: absolute;
	left: 970px;
	top: 2335px;
	width: 412px;
	height: 95px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
.HomepageA_1_HomepageA .Arrow2 {
	position: absolute;
	left: 1269px;
	top: 1739px;
	width: 30px;
	height: 0px;
}
.HomepageA_1_HomepageA .UKMSelengkapnya {
	position: absolute;
	left: 960px;
	top: 1700px;
	width: 385px;
	height: 95px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.HomepageA_1_HomepageA .Group306 {
	position: absolute;
	left: 0px;
	top: 368px;
	width: 1440px;
	height: 265px;
}
.HomepageA_1_HomepageA .Group306 .Rectangle8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 265px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.HomepageA_1_HomepageA .Group306 .UKMsCare {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 32px;
	width: 557.1220703125px;
	height: 62.13427734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 64px;
	font-weight: 700;
	line-height: 64px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group386 {
	position: absolute;
	left: 145px;
	top: 680px;
	width: 1150px;
	height: 246px;
}
.HomepageA_1_HomepageA .Group386 .Group355 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1150px;
	height: 246px;
}
.HomepageA_1_HomepageA .Group386 .Group355 .Rectangle14 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1150px;
	height: 246px;
	border-radius: 15px;
}
.HomepageA_1_HomepageA .Group386 .Group355 .Rectangle28 {
	position: absolute;
	left: 13.228515625px;
	top: 6.753173828125px;
	width: 1122.6611328125px;
	height: 232.493896484375px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,0.009999999776482582);
	border-radius: 15px;
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .Group386 .text2 {
	position: absolute;
	left: 86px;
	top: 50px;
	width: 949px;
	height: 179px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group317 {
	position: absolute;
	left: 190px;
	top: 1546px;
	width: 414.9833984375px;
	height: 146.9267578125px;
}
.HomepageA_1_HomepageA .Group317 .Rectangle8_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group317 .Rectangle9 {
	position: absolute;
	left: 210.781982421875px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .taekwondoremovebgpreview11 {
	position: absolute;
	left: 228px;
	top: 1557px;
	width: 131px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Rectangle15 {
	position: absolute;
	left: 610px;
	top: 1546px;
	width: 204px;
	height: 147px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .bridgeremovebgpreview7 {
	position: absolute;
	left: 444px;
	top: 1557px;
	width: 118px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .palawa5 {
	position: absolute;
	left: 659px;
	top: 1557px;
	width: 111px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group388 {
	position: absolute;
	left: 819px;
	top: 1546px;
	width: 414.9833984375px;
	height: 146.9267578125px;
}
.HomepageA_1_HomepageA .Group388 .Rectangle8_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group388 .Rectangle9_1 {
	position: absolute;
	left: 210.781982421875px;
	top: 0px;
	width: 204.201416015625px;
	height: 146.9267578125px;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .taekwondoremovebgpreview13 {
	position: absolute;
	left: 857px;
	top: 1557px;
	width: 131px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .bridgeremovebgpreview9 {
	position: absolute;
	left: 1073px;
	top: 1557px;
	width: 118px;
	height: 126px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 30px;
}
.HomepageA_1_HomepageA .Group335 {
	position: absolute;
	left: 131px;
	top: 1078.5556640625px;
	width: 1173px;
	height: 421.4443359375px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 771.224365234375px;
	height: 421.4443359375px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Rectangle23_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 369.44873046875px;
	height: 421.4443359375px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Rectangle24_1 {
	position: absolute;
	left: 401.775634765625px;
	top: 0px;
	width: 369.44873046875px;
	height: 421.4443359375px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group326_3 {
	position: absolute;
	left: 435px;
	top: 298.4443359375px;
	width: 297.40625px;
	height: 75.26220703125px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group326_3 .InformasiterbaruseputarUKMfavoritkamu {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297.40625px;
	height: 75.26220703125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group325_2 {
	position: absolute;
	left: 30px;
	top: 298.44384765625px;
	width: 297.750732421875px;
	height: 76.63525390625px;
}
.HomepageA_1_HomepageA .Group335 .Group326_2 .Group325_2 .LangsungdaftarkeUKMfavoritkamutanparibet {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297.750732421875px;
	height: 76.63525390625px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 {
	position: absolute;
	left: 803.55126953125px;
	top: 0px;
	width: 369.44873046875px;
	height: 421.4443359375px;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 .Rectangle25_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 369.44873046875px;
	height: 421.4443359375px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 .Group325_3 {
	position: absolute;
	left: 35.44873046875px;
	top: 306.4443359375px;
	width: 297.40625px;
	height: 75.26220703125px;
}
.HomepageA_1_HomepageA .Group335 .Group327_1 .Group325_3 .BeritaterkinitentangUKMfavoritkamudariaktivitaskegiatanhinggakehuaraan {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 297.40625px;
	height: 75.26220703125px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .UKMSCARE {
	position: absolute;
	left: 494px;
	top: 972px;
	width: 398px;
	height: 48px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}
.HomepageA_1_HomepageA .BeritaUKM {
	position: absolute;
	left: 955px;
	top: 1076px;
	width: 315px;
	height: 114px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}
.HomepageA_1_HomepageA .InformasiUKM {
	position: absolute;
	left: 558px;
	top: 1080px;
	width: 315px;
	height: 115px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}
.HomepageA_1_HomepageA .PendaftaranOnline {
	position: absolute;
	left: 159px;
	top: 1085px;
	width: 315px;
	height: 114px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}
.HomepageA_1_HomepageA .Group {
	position: absolute;
	left: 247px;
	top: 1211px;
	width: 9.86111111111111%;
	height: 5.3968975360576925%;
}
.HomepageA_1_HomepageA .Group .Vector_4 {
	position: absolute;
	left: 58.47119140625px;
	top: 0px;
	width: 58.82310464348591%;
	height: 58.82264923061933%;
}
.HomepageA_1_HomepageA .Group .Vector_5 {
	position: absolute;
	left: 0px;
	top: 16.50732421875px;
	width: 88.23620433538733%;
	height: 88.23588772818695%;
}
.HomepageA_1_HomepageA .etnewspaper {
	position: absolute;
	left: 1039px;
	top: 1202px;
	width: 160px;
	height: 147px;
}
.HomepageA_1_HomepageA .etnewspaper .Group_1 {
	position: absolute;
	left: 0.201904296875px;
	top: 0px;
	width: 99.75006103515625%;
	height: 99.83425010629252%;
}
.HomepageA_1_HomepageA .etnewspaper .Group_1 .Vector_6 {
	position: absolute;
	left: 15.0361328125px;
	top: 0px;
	width: 83.54208669740348%;
	height: 90.77546022884178%;
}
.HomepageA_1_HomepageA .etnewspaper .Group_1 .Vector_7 {
	position: absolute;
	left: 0px;
	top: 0.24365234375px;
	width: 100%;
	height: 99.8343076354901%;
}
.HomepageA_1_HomepageA .tablerspeakerphone {
	position: absolute;
	left: 609px;
	top: 1163px;
	width: 219px;
	height: 226px;
}
.HomepageA_1_HomepageA .tablerspeakerphone .Group_2 {
	position: absolute;
	left: 27.375px;
	top: 37.86962890625px;
	width: 75%;
	height: 66.57693238384957%;
}
.HomepageA_1_HomepageA .tablerspeakerphone .Group_2 .Vector_8 {
	position: absolute;
	left: 36.5px;
	top: 37.4638671875px;
	width: 77.77777777777779%;
	height: 75.10108713288982%;
}
.HomepageA_1_HomepageA .tablerspeakerphone .Group_2 .Vector_9 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 83.33333333333334%;
	height: 87.34836930066527%;
}
.HomepageA_1_HomepageA .Line4 {
	position: absolute;
	left: 349px;
	top: 1040px;
	width: 693.08740234375px;
	height: 0px;
	background : rgba(196.00000351667404,196.00000351667404,196.00000351667404,1);
	border: 3px solid rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	text-align: center;
}
.HomepageA_1_HomepageA .text1 {
	position: absolute;
	margin: 80px;
	left: 200px;
	top: 420px;
	width: 900px;
	height: 256px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
}
.HomepageA_1_HomepageA .humasunpad2020123Baseball1 {
	position: absolute;
	left: -1px;
	top: 81px;
	width: 1441px;
	height: 287px;
	object-fit: cover;
	overflow: hidden;
}
.HomepageA_1_HomepageA .Footer {
	position: absolute;
	left: 0px;
	top: 2460px;
	width: 1440px;
	height: 140px;
	background : rgba(255,255,255,1);
}
.HomepageA_1_HomepageA .Footer .Group226 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.HomepageA_1_HomepageA .Footer .Group226 .PageHeaderSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.HomepageA_1_HomepageA .Footer .Group226 .PageHeaderSecondary .PageHeader {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.HomepageA_1_HomepageA .Footer .Group226 .PageHeaderSecondary .PageHeader .ColorsSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.HomepageA_1_HomepageA .Footer .Group226 .PageHeaderSecondary .PageHeader .ProjectBrandGuidelines {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 62px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.HomepageA_1_HomepageA .Footer .Group226 .PageHeaderSecondary .PageHeader ._2020 {
	position: absolute;
	left: 1416px;
	top: 62px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 {
	position: absolute;
	left: 60px;
	top: 34px;
	width: 1320px;
	height: 72.7998046875px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .UKMsCare2022 {
	position: absolute;
	left: 580px;
	top: 30.7998046875px;
	width: 159.07177734375px;
	height: 13.5302734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group341 {
	position: absolute;
	left: 1094.0830078125px;
	top: 1.86669921875px;
	width: 225.9169921875px;
	height: 70.93310546875px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group341 .FollowUs {
	position: absolute;
	left: 61.7158203125px;
	top: 0px;
	width: 108.168701171875px;
	height: 17.28857421875px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
	text-align: center;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group341 .instagram1 {
	position: absolute;
	left: 0px;
	top: 26.13330078125px;
	width: 41.9560546875px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group341 .facebook1 {
	position: absolute;
	left: 60.24462890625px;
	top: 28.93310546875px;
	width: 43.03173828125px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group341 .twitter1 {
	position: absolute;
	left: 121.56494140625px;
	top: 28.93310546875px;
	width: 48.41064453125px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group341 .gmail1 {
	position: absolute;
	left: 188.26416015625px;
	top: 32.66650390625px;
	width: 37.65283203125px;
	height: 29.86669921875px;
	object-fit: cover;
	overflow: hidden;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group364 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 283.718017578125px;
	height: 64.56982421875px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group364 .UKMUnpad {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.71044921875px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
	
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group364 .AboutUs {
	position: absolute;
	left: 176.82177734375px;
	top: 0px;
	width: 106.896240234375px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group364 .Help {
	position: absolute;
	left: 181.125px;
	top: 45.02587890625px;
	width: 54.720703125px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.HomepageA_1_HomepageA .Footer .Group226 .Group224 .Group364 .BeritaUKM_1 {
	position: absolute;
	left: 0px;
	top: 45.02587890625px;
	width: 131.0751953125px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.HomepageA_1_HomepageA .akariconscircletriangleupfill {
	position: absolute;
	left: 1226px;
	top: 1607px;
	width: 24px;
	height: 24px;
}
.HomepageA_1_HomepageA .akariconscircletriangleupfill .Vector_10 {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 91.66666666666666%;
	height: 91.66666666666666%;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(255,255,255,1);
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Group222 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ColorsSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ProjectBrandGuidelines_1 {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 32px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 ._2020_1 {
	position: absolute;
	left: 1416px;
	top: 32px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame375 {
	position: absolute;
	left: 20px;
	top: 3px;
	width: 100px;
	height: 75px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame375 .Screenshot_20220306_161229removebgpreview4 {
	position: relative;
	margin-bottom: 10px;
	width: 80px;
	height: 55px;
	object-fit: cover;
	overflow: hidden;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame238 {
	position: absolute;
	left: 140px;
	top: 29px;
	width: 304.68994140625px;
	height: 22.295166015625px;
	display: flex;
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame238 .UKMUnpad_1 {
	position: relative;
	margin-right: 40px;
	width: 154.095703125px;
	height: 22.295166015625px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame238 .BeritaUKM_2 {
	position: relative;
	left: 4px;
	margin-right: 5px;
	width: 145.59423828125px;
	height: 22.295166015625px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame376 {
	position: absolute;
	left: 1304.974609375px;
	top: 5px;
	width: 70px;
	height: 70px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.HomepageA_1_HomepageA .NavbarSetelahLogin .Frame376 .Vector_11 {
	position: relative;
	margin-right: 10px;
	width: 71.42857142857143%;
	height: 71.42857142857143%;
}

.HomepageA_1_HomepageA .BeritaUKM{
	margin-top: 30px;
	margin-left: 10px;
	text-align: center;
}

.HomepageA_1_HomepageA .InformasiUKM{
	margin-top: 30px;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}

.HomepageA_1_HomepageA .PendaftaranOnline{
	margin-top: 30px;
	text-align: center;
}

.HomepageA_1_HomepageA .UKMSelengkapnya{
	margin-top: 20px;
	margin-left: 105px;
}

.HomepageA_1_HomepageA .BeritaSelengkapnya{
	margin-top: 20px;
	margin-left: 105px;
}