.Navbar {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 1270px;
	/* height: 2021px; */
	background : rgba(255,255,255,1);
	/* border: 1px solid rgba(0,0,0,1); */
	/* box-sizing: border-box; */
}

.Navbar .Frame382 {
	position: absolute;
	left: -21px;
	top: -22px;
	width: 1270px;
	height: 120px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.Navbar .Frame382 .Frame368 {
    scroll-behavior: smooth;
    z-index: 1;
    position: fixed;
	margin-bottom: 10px;
	width: 1270px;
	height: 100px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.Navbar .Frame382 .Frame368 .Navbar1 {
	position: relative;
	margin-bottom: 10px;
	width: 1270px;
	height: 80px;
	background : rgba(255,255,255,1);
}
.Navbar .Frame382 .Frame368 .Navbar1 .Group222 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1270px;
	height: 80px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Group222 .PageHeaderSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1270px;
	height: 80px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Group222 .PageHeaderSecondary_1 .PageHeader_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1270px;
	height: 80px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.Navbar .Frame382 .Frame368 .Navbar1 .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ColorsSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1270px;
	height: 82px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.Navbar .Frame382 .Frame368 .Navbar1 .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ProjectBrandGuidelines_1 {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 32px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Group222 .PageHeaderSecondary_1 .PageHeader_1 ._2020_1 {
	position: absolute;
	left: 1416px;
	top: 32px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame375 {
	position: absolute;
	left: 20px;
	top: 3px;
	width: 100px;
	height: 75px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame375 .logo {
	position: relative;
	top: -3px;
    left: -15px;
	width: 80px;
	height: 60px;
	object-fit: cover;
	overflow: hidden;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame238 {
	position: absolute;
	left: 140px;
	top: 29px;
	width: 304.6900634765625px;
	height: 22.294921875px;
	display: flex;
	box-sizing: border-box;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame238 .UKMUnpad_1 {
	position: relative;
	margin-right: 5px;
	width: 154.095947265625px;
	height: 22.294921875px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame238 .BeritaUKM_1 {
	position: relative;
	left: 40px;
	margin-right: 5px;
	width: 145.59410095214844px;
	height: 22.294921875px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Dropdown {
	position: absolute;
	
	right: -45px;
	top: 8px;
	width: 150px;
	height: 150px;
	/* display: flex;  */
	/* padding-top: 10px;
	padding-right: 100px;
	padding-bottom: 10px;
	padding-left: 10px;  */
	/* box-sizing: border-box; */
}
.btn-check:focus+.btn, .btn:focus {
	box-shadow: none;
}

.dropdown-toggle::after {
	display: none !important; 
  }

.Navbar .Frame382 .Frame368 .Navbar1 .Dropdown .Toggle {
	
}


.Avatar {
	position: relative;
	left: 0px;
	/* bottom: 10px; */
	width: 50px;
	height: 50px;
}

.cover {
	position: absolute;
	color : rgb(21, 144, 189);
	left: 0px;
	/* bottom: 10px; */
	width: 50px;
	height: 50px;
}

.Menu {
	position: relative;
	/* right: 20px; */
	margin-top: 1px;
	margin-left: -54px;

}

.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 {
	position: absolute;
	left: 1066px;
	top: 33px;
	width: 267px;
	height: 54px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 .Loginbtn {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 44.9438202247191%;
	height: 100%;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 .Loginbtn .Rectangle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 .Loginbtn .login {
	position: absolute;
	left: 37.5654296875px;
	top: 15px;
	width: 38.26090494791667%;
	height: 44.44444444444444%;
	color : rgba(255,255,255,1);
	font-family: Lexend Deca;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 .Loginbtn_1 {
	position: absolute;
	left: 137px;
	top: 0px;
	width: 48.68913857677903%;
	height: 100%;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 .Loginbtn_1 .Rectangle_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(0,180.00000447034836,215.0000023841858,1);
	border-radius: 10px;
}
.Navbar .Frame382 .Frame368 .Navbar1 .Frame376 .Group235 .Loginbtn_1 .Register {
	position: absolute;
	left: 26.1806640625px;
	top: 15px;
	width: 59.02794471153846%;
	height: 44.44444444444444%;
	color : rgba(255,255,255,1);
	font-family: Lexend Deca;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}


.link {
	text-decoration: none;
}