.SignupUser_SignupUser {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	background : rgba(255,255,255,1);
}

.SignupUser_SignupUser  .Vectors {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	width: 50%;
	height: 80px;
}
.SignupUser_SignupUser  .Vectors .Vector {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 80px;
}
.SignupUser_SignupUser  .Vectors .Vector_1 {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 80px;
}

.SignupUser_SignupUser .Vectors_1 {
	position: absolute;
	left: 0px;
	top: -2.1448974609375px;
	width: 50%;
	height: 80px;
}
.SignupUser_SignupUser .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 80px;
}
.SignupUser_SignupUser .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 80px;
}

.SignupUser_SignupUser .Rectangle1{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	background : rgb(255, 255, 255);
}

.SignupUser_SignupUser  .Rectangle1 .Text1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -170%);
	width: 498.548828125px;
	height: 60px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.125px;
	text-align: center;
}

.SignupUser_SignupUser .Rectangle1 .Loginbtn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-93%, 350%);
	width: 351.873291015625px;
	height: 54.13525390625px;
	box-shadow: 100px;
}
.SignupUser_SignupUser .Rectangle1 .Loginbtn .Button1 {
	position: absolute;
	left: 125px;
	top: 0px;
	width: 400px;
	height: 54.13525390625px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
	border-color: azure;
} .Button1:hover { background: #3CB5B5; } 

.SignupUser_SignupUser .Rectangle1 .Loginbtn .Register1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 51.608154296875px;
	height: 24.06005859375px;
	color : rgba(255,255,255,1);
	font-family: Lexend Deca;
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	font-weight: bold;
}

.SignupUser_SignupUser .Rectangle1 .Input_Form {
	position: absolute;
	padding: 12px 20px;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 54.13525390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
	color: azure;
	font-size: 18px;
	font-family: Oxygen;
	
}
.Input_Form::-webkit-input-placeholder{
	color: rgb(196, 207, 207);
}

.SignupUser_SignupUser .Rectangle1 .Username {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-57%, -20%);
	width: 351.873291015625px;
	height: 54.13525390625px;
}
.SignupUser_SignupUser .Rectangle1  .Password {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-57%, 100%);
	width: 351.873291015625px;
	height: 54.13525390625px;
}
.SignupUser_SignupUser .Rectangle1 .Password_2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-57%, 220%);
	width: 351.873291015625px;
	height: 54.13525390625px;
}

.SignupUser_SignupUser .Rectangle1 .Signup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -220%);
	width: 300px;
	height: 111px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 80px;
	font-weight: 400;
	line-height: 84.375px;
	text-align: center;
	font-weight: bold;
}
.SignupUser_SignupUser .Rectangle1 .Sudahpunyaakun {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-80%, 1300%);
	width: 150px;
	height: 20px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SignupUser_SignupUser .Rectangle1 .Signin {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(30%, 1300%);
	width: 91px;
	height: 20px;
	color : rgba(0,180.00000447034836,215.0000023841858,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}

.SignupUser_SignupUser .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}

.SignupUser_SignupUser .Rectangle6 .Group228 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-30%, -40%);
	width: 550px;
	height: 451px;
}
.SignupUser_SignupUser .Rectangle6 .Group228 .PlatformUKMUnpad {
	position: absolute;
	left: -75px;
	top: 300px;
	width: 550px;
	height: 65px;
	color : rgba(0,180.00000447034836,215.0000023841858,1);
	font-family: Lexend Deca;
	font-size: 42px;
	font-weight: 400;
	line-height: 56.25px;
}
.SignupUser_SignupUser .Rectangle6 .Group228 .logo {
	position: absolute;
	left: -80px;
	top: -30px;
	width: 400px;
	height: 300px;
	object-fit: cover;
	overflow: hidden;
}