
.SigninUser_SigninUser {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 720px;
	background : rgba(255,255,255,1);
}
.SigninUser_SigninUser .carbonuseravatarfilledalt {
	position: absolute;
	left: 704px;
	top: 344px;
	width: 32px;
	height: 32px;
}
.SigninUser_SigninUser .carbonuseravatarfilledalt .Vector {
	position: absolute;
	left: 11px;
	top: 8px;
	width: 31.25%;
	height: 31.25%;
}
.SigninUser_SigninUser .carbonuseravatarfilledalt .Vector_1 {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 87.5%;
	height: 87.5%;
}
.SigninUser_SigninUser .Group220 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 720px;
}
.SigninUser_SigninUser .Group220 .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 914.1953125px;
	height: 720px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.SigninUser_SigninUser .Group220 .Vectors {
	position: absolute;
	left: 0px;
	top: 608.9951171875px;
	width: 914.1953125px;
	height: 111px;
}
.SigninUser_SigninUser .Group220 .Vectors .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 914.1953125px;
	height: 111px;
}
.SigninUser_SigninUser .Group220 .Vectors .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 914.1953125px;
	height: 111px;
}
.SigninUser_SigninUser .Group220 .AndaharusLoginuntukmelakukanpendaftaranUKM {
	position: absolute;
	left: 941.451171875px;
	top: 200px;
	width: 498.548828125px;
	height: 60px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.125px;
}
.SigninUser_SigninUser .Vectors_1 {
	position: absolute;
	left: 0px;
	top: -2.1448974609375px;
	width: 913.9990234375px;
	height: 113.4661865234375px;
}
.SigninUser_SigninUser .Vectors_1 .Vector_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 913.9990234375px;
	height: 113.4661865234375px;
}
.SigninUser_SigninUser .Vectors_1 .Vector_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 913.9990234375px;
	height: 113.4661865234375px;
}
.SigninUser_SigninUser .SectionForgot {
	position: absolute;
	left: 1018.5185546875px;
	top: 479.435546875px;
	width: 343.66259765625px;
	height: 20.451171875px;
}
.SigninUser_SigninUser .SectionForgot .Forgotpassword {
	position: absolute;
	left: 193.5302734375px;
	top: 0px;
	width: 150.13232421875px;
	height: 20.451171875px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .SectionForgot .Rememberme {
	position: absolute;
	left: 29.32275390625px;
	top: 0px;
	width: 126.67431640625px;
	height: 20.451171875px;
	color : rgba(9.000000413507223,53.00000064074993,69.00000348687172,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .SectionForgot .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 21.1123046875px;
	height: 20.451171875px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 5px;
}
.SigninUser_SigninUser .Loginbtn {
	position: absolute;
	left: 1015px;
	top: 528.759765625px;
	width: 351.873046875px;
	height: 54.13525390625px;
}
.SigninUser_SigninUser .Loginbtn .Rectangle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 351.873046875px;
	height: 54.13525390625px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
	border-radius: 10px;
}
.SigninUser_SigninUser .Loginbtn .login {
	position: absolute;
	left: 150.1328125px;
	top: 15.63916015625px;
	width: 51.60791015625px;
	height: 24.06005859375px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
.SigninUser_SigninUser .Password {
	position: absolute;
	left: 1015px;
	top: 397.63232421875px;
	width: 351.873046875px;
	height: 54.13525390625px;
}
.SigninUser_SigninUser .Password .Rectangle_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 351.873046875px;
	height: 54.13525390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
}
.SigninUser_SigninUser .Password .Password_1 {
	position: absolute;
	left: 24.63134765625px;
	top: 15.638671875px;
	width: 76.2392578125px;
	height: 24.06005859375px;
	color : rgba(255,255,255,1);
	font-family: Lexend Deca;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.SigninUser_SigninUser .Username {
	position: absolute;
	left: 1015px;
	top: 305px;
	width: 351.873046875px;
	height: 54.13525390625px;
}
.SigninUser_SigninUser .Username .Rectangle_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 351.873046875px;
	height: 54.13525390625px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	border-radius: 10px;
}
.SigninUser_SigninUser .Username .Email {
	position: absolute;
	left: 21.1123046875px;
	top: 14.43603515625px;
	width: 45.74365234375px;
	height: 24.06005859375px;
	color : rgba(255,255,255,1);
	font-family: Lexend Deca;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.SigninUser_SigninUser .Signin {
	position: absolute;
	left: 1055px;
	top: 55px;
	width: 271px;
	height: 111px;
	color : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
	font-family: Lexend Deca;
	font-size: 72px;
	font-weight: 400;
	line-height: 84.375px;
}
.SigninUser_SigninUser .Belumpunyaakun {
	position: absolute;
	left: 1088px;
	top: 610.89453125px;
	width: 150px;
	height: 20px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .Signup {
	position: absolute;
	left: 1222px;
	top: 610.89453125px;
	width: 91px;
	height: 20px;
	color : rgba(0,180.00000447034836,215.0000023841858,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.40625px;
}
.SigninUser_SigninUser .Group229 {
	position: absolute;
	left: 182px;
	top: 132px;
	width: 550px;
	height: 451px;
}
.SigninUser_SigninUser .Group229 .PlatformUKMUnpad {
	position: absolute;
	left: 0px;
	top: 386px;
	width: 550px;
	height: 65px;
	color : rgba(0,180.00000447034836,215.0000023841858,1);
	font-family: Lexend Deca;
	font-size: 48px;
	font-weight: 400;
	line-height: 56.25px;
}
.SigninUser_SigninUser .Group229 .Screenshot_20220306_161229removebgpreview1 {
	position: absolute;
	left: 29px;
	top: 0px;
	width: 470px;
	height: 345px;
	object-fit: cover;
	overflow: hidden;
}