
.container {
	position: relative;
    right: 432px;
    top: 500px;
	width: 345px;
	height: 364.8173828125px;
	border-radius: 5px;
    margin-bottom : 5px;
    margin-right: 5px;
    display: flex;
    flex: 1;
    background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}

/* .container {
	position: relative;
	left: 70px;
	top: 460px;
	width: 834.07080078125px;
	height: 364.8173828125px;
    border-radius: 5px;
    margin-bottom : 5px;
    display: flex;
    flex: 1;
}

.container .container {
	position: relative;

    border-radius: 5px;
    margin-bottom : 5px;
} */



.container .taekwondoremovebgpreview3 {
	position: relative;
	left: 100px;
	top: 30px;
	width: 235px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
	
}
.container .UNITTaekwondoUnpad {
	position: relative;
	left: 20px;
	text-align: center;
	top: 289.93408203125px;
	width: 400px;
	height: 40.09130859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
}