
.UKMUnpadA_UKMUnpadA {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 1440px;
	height: 2300px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .Vectors {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 100px;
	height: 2100px;
	mix-blend-mode: normal;
}
.UKMUnpadA_UKMUnpadA .Vectors .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2100px;
}
.UKMUnpadA_UKMUnpadA .Vectors .Vector_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2100px;
}
.UKMUnpadA_UKMUnpadA .Vectors_1 {
	position: absolute;
	left: 1340px;
	top: 80px;
	width: 100px;
	height: 2100px;
	mix-blend-mode: normal;
}
.UKMUnpadA_UKMUnpadA .Vectors_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2100px;
}
.UKMUnpadA_UKMUnpadA .Vectors_1 .Vector_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 2100px;
}
.UKMUnpadA_UKMUnpadA .Group309 {
	position: absolute;
	left: 70px;
	top: 460px;
	width: 834.07080078125px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group309 .Rectangle8 {
	position: absolute;
	left: 46.017578125px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group309 .Rectangle9 {
	position: absolute;
	left: 465.92919921875px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group309 .UNITTaekwondoUnpad {
	position: absolute;
	left: 0px;
	text-align: center;
	top: 289.93408203125px;
	width: 465.92919921875px;
	height: 40.09130859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
}
.UKMUnpadA_UKMUnpadA .Group310 {
	position: absolute;
	left: 539.76416015625px;
	top: 747.0537109375px;
	width: 361.4306640625px;
	height: 40.32177734375px;
	
}
.UKMUnpadA_UKMUnpadA .Group310 .UKMBridgeUnpad {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.4306640625px;
	height: 40.32177734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .taekwondoremovebgpreview3 {
	position: absolute;
	left: 185px;
	top: 479px;
	width: 235px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
	
}
.UKMUnpadA_UKMUnpadA .Rectangle8_1 {
	position: absolute;
	left: 950px;
	top: 460px;
	width: 368px;
	height: 365px;
}
.UKMUnpadA_UKMUnpadA .PALAWAUNPAD {
	position: absolute;
	left: 904px;
	top: 750px;
	width: 466px;
	height: 40px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .bridgeremovebgpreview3 {
	position: absolute;
	left: 613px;
	top: 479px;
	width: 214px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group311 {
	position: absolute;
	left: 70px;
	top: 891.060546875px;
	width: 834.07080078125px;
	height: 364.8173828125px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group311 .Rectangle8_2 {
	position: absolute;
	left: 46.017578125px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group311 .Rectangle9_1 {
	position: absolute;
	left: 465.92919921875px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group311 .UNITTaekwondoUnpad_1 {
	position: absolute;
	left: 0px;
	top: 289.93408203125px;
	width: 465.92919921875px;
	height: 40.09130859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group312 {
	position: absolute;
	left: 539.76416015625px;
	top: 1178.1142578125px;
	width: 361.4306640625px;
	height: 40.32177734375px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group312 .UKMBridgeUnpad_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.4306640625px;
	height: 40.32177734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .taekwondoremovebgpreview6 {
	position: absolute;
	left: 185px;
	top: 910px;
	width: 235px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
	
}
.UKMUnpadA_UKMUnpadA .bridgeremovebgpreview4 {
	position: absolute;
	left: 613px;
	top: 910px;
	width: 214px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Group313 {
	position: absolute;
	left: 70px;
	top: 1322.12109375px;
	width: 834.07080078125px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group313 .Rectangle8_3 {
	position: absolute;
	left: 46.017578125px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group313 .Rectangle9_2 {
	position: absolute;
	left: 465.92919921875px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group313 .UNITTaekwondoUnpad_2 {
	position: absolute;
	left: 0px;
	top: 289.93408203125px;
	width: 465.92919921875px;
	height: 40.09130859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group314 {
	position: absolute;
	left: 539.76416015625px;
	top: 1609.17578125px;
	width: 361.4306640625px;
	height: 40.32177734375px;
}
.UKMUnpadA_UKMUnpadA .Group314 .UKMBridgeUnpad_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.4306640625px;
	height: 40.32177734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .taekwondoremovebgpreview8 {
	position: absolute;
	left: 185px;
	top: 1341px;
	width: 235px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .bridgeremovebgpreview5 {
	position: absolute;
	left: 613px;
	top: 1341px;
	width: 214px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Group315 {
	position: absolute;
	left: 70px;
	top: 1753.1826171875px;
	width: 834.07080078125px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group315 .Rectangle8_4 {
	position: absolute;
	left: 46.017578125px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group315 .Rectangle9_3 {
	position: absolute;
	left: 465.92919921875px;
	top: 0px;
	width: 368.1416015625px;
	height: 364.8173828125px;
}
.UKMUnpadA_UKMUnpadA .Group315 .UNITTaekwondoUnpad_3 {
	position: absolute;
	left: 0px;
	top: 289.93408203125px;
	width: 465.92919921875px;
	height: 40.09130859375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Group316 {
	position: absolute;
	left: 539.76416015625px;
	top: 2040.236328125px;
	width: 361.4306640625px;
	height: 40.32177734375px;
}
.UKMUnpadA_UKMUnpadA .Group316 .UKMBridgeUnpad_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 361.4306640625px;
	height: 40.32177734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .taekwondoremovebgpreview10 {
	position: absolute;
	left: 185px;
	top: 1772px;
	width: 235px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .bridgeremovebgpreview6 {
	position: absolute;
	left: 613px;
	top: 1772px;
	width: 214px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .UNITKEGIATANMAHASISWA {
	position: absolute;
	left: 152px;
	top: 198px;
	width: 1159px;
	height: 64px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 64px;
	font-weight: 700;
	line-height: 64px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .palawa1 {
	position: absolute;
	left: 1037px;
	top: 479px;
	width: 200px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Rectangle12 {
	position: absolute;
	left: 950px;
	top: 891px;
	width: 368px;
	height: 365px;
}
.UKMUnpadA_UKMUnpadA .PALAWAUNPAD_1 {
	position: absolute;
	left: 904px;
	top: 1181px;
	width: 466px;
	height: 40px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .palawa2 {
	position: absolute;
	left: 1037px;
	top: 910px;
	width: 200px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Rectangle13 {
	position: absolute;
	left: 950px;
	top: 1322px;
	width: 368px;
	height: 365px;
}
.UKMUnpadA_UKMUnpadA .PALAWAUNPAD_2 {
	position: absolute;
	left: 904px;
	top: 1612px;
	width: 466px;
	height: 40px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .palawa3 {
	position: absolute;
	left: 1037px;
	top: 1341px;
	width: 200px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Rectangle14 {
	position: absolute;
	left: 950px;
	top: 1753px;
	width: 368px;
	height: 365px;
}
.UKMUnpadA_UKMUnpadA .PALAWAUNPAD_3 {
	position: absolute;
	left: 904px;
	top: 2043px;
	width: 466px;
	height: 40px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .palawa4 {
	position: absolute;
	left: 1037px;
	top: 1772px;
	width: 200px;
	height: 221px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Footer {
	position: absolute;
	left: 0px;
	top: 2180px;
	width: 1440px;
	height: 140px;
	background : rgba(255,255,255,1);
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .PageHeaderSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .PageHeaderSecondary .PageHeader {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .PageHeaderSecondary .PageHeader .ColorsSecondary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 140px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .PageHeaderSecondary .PageHeader .ProjectBrandGuidelines {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 62px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .PageHeaderSecondary .PageHeader ._2020 {
	position: absolute;
	left: 1416px;
	top: 62px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 {
	position: absolute;
	left: 60px;
	top: 34px;
	width: 1320px;
	height: 72.7998046875px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .UKMsCare2022 {
	position: absolute;
	left: 580px;
	top: 30.7998046875px;
	width: 159.07177734375px;
	height: 13.5302734375px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.40625px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group341 {
	position: absolute;
	left: 1094.0830078125px;
	top: 1.86669921875px;
	width: 225.9169921875px;
	height: 70.93310546875px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group341 .FollowUs {
	position: absolute;
	left: 61.7158203125px;
	top: 0px;
	width: 108.1689453125px;
	height: 17.28857421875px;
	color : rgba(255,255,255,1);
	font-family: Oxygen;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.09375px;
	text-align: center;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group341 .instagram1 {
	position: absolute;
	left: 0px;
	top: 26.13330078125px;
	width: 41.9560546875px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group341 .facebook1 {
	position: absolute;
	left: 60.24462890625px;
	top: 28.93310546875px;
	width: 43.03173828125px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group341 .twitter1 {
	position: absolute;
	left: 121.56494140625px;
	top: 28.93310546875px;
	width: 48.41064453125px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group341 .gmail1 {
	position: absolute;
	left: 188.26416015625px;
	top: 32.66650390625px;
	width: 37.65283203125px;
	height: 29.86669921875px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group364 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 283.7177734375px;
	height: 64.56982421875px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group364 .UKMUnpad {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 138.71044921875px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group364 .AboutUs {
	position: absolute;
	left: 176.82177734375px;
	top: 0px;
	width: 106.89599609375px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group364 .Help {
	position: absolute;
	left: 181.125px;
	top: 45.02587890625px;
	width: 54.720703125px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.UKMUnpadA_UKMUnpadA .Footer .Group226 .Group224 .Group364 .BeritaUKM {
	position: absolute;
	left: 0px;
	top: 45.02587890625px;
	width: 131.0751953125px;
	height: 19.54345703125px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.UKMUnpadA_UKMUnpadA .Group365 {
	position: absolute;
	left: 116px;
	top: 368px;
	width: 1195px;
	height: 45px;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 {
	position: absolute;
	left: 0px;
	top: 5px;
	width: 166.19189453125px;
	height: 40px;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Rectangle29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 166.19189453125px;
	height: 40px;
	background : rgba(255,255,255,1);
	border-radius: 3px;
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Kategori {
	position: absolute;
	left: 36.60205078125px;
	top: 11px;
	width: 87.05322265625px;
	height: 18.28564453125px;
	color : rgba(0,0,0,1);
	font-family: Oxygen;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 {
	position: absolute;
	left: 13.84912109375px;
	top: 13px;
	width: 12.8603515625px;
	height: 14.857421875px;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle30 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle31 {
	position: absolute;
	left: 4.6767578125px;
	top: 0px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle32 {
	position: absolute;
	left: 9.35302734375px;
	top: 0px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle33 {
	position: absolute;
	left: 0px;
	top: 5.4013671875px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle34 {
	position: absolute;
	left: 4.6767578125px;
	top: 5.4013671875px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle35 {
	position: absolute;
	left: 9.35302734375px;
	top: 5.4013671875px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle36 {
	position: absolute;
	left: 0px;
	top: 10.8056640625px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle37 {
	position: absolute;
	left: 4.6767578125px;
	top: 10.8056640625px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Group358 .Rectangle38 {
	position: absolute;
	left: 9.35302734375px;
	top: 10.8056640625px;
	width: 3.50732421875px;
	height: 4.0517578125px;
	background : rgba(32.00000189244747,223.00000190734863,127.00000002980232,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group359 .Polygon1 {
	position: absolute;
	left: 148.3857421875px;
	top: 17px;
	width: 6.9248046875px;
	height: 8px;
	background : rgba(0,0,0,1);
}
.UKMUnpadA_UKMUnpadA .Group365 .Group2 {
	position: absolute;
	left: 644px;
	top: 0px;
	width: 38.41012356171548%;
	height: 88.88888888888889%;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group2 .Rectangle3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background : rgba(252.00000017881393,252.00000017881393,252.00000017881393,1);
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group2 .Search {
	position: absolute;
	left: 67.93212890625px;
	top: 11px;
	width: 37.599916598761325%;
	height: 45%;
	color : rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.40625px;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group2 .evasearchoutline {
	position: absolute;
	left: 26.1708984375px;
	top: 11.4287109375px;
	width: 5.043860115697943%;
	height: 42.8570556640625%;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group2 .evasearchoutline .Vector_4 {
	position: absolute;
	left: 2.89404296875px;
	top: 2.142822265625px;
	width: 75.02425443961698%;
	height: 75.02456670037171%;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group360 {
	position: absolute;
	left: 1103.0009765625px;
	top: 0.0517578125px;
	width: 91.9990234375px;
	height: 40px;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group360 .Rectangle39 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 91.9990234375px;
	height: 40px;
	background : rgba(255,255,255,1);
	border: 1px solid rgba(186.88379108905792,186.88379108905792,186.88379108905792,1);
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .Group365 .Group360 .Search_1 {
	position: absolute;
	left: 13.84912109375px;
	top: 10px;
	width: 63.5234375px;
	height: 20px;
	color : rgba(0,0,0,1);
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 18.75px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(255,255,255,1);
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Group222 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(54.00000058114529,55.00000052154064,64.00000378489494,1);
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ColorsSecondary_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
	background : rgba(34.00000177323818,73.00000324845314,87.00000241398811,1);
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 .ProjectBrandGuidelines_1 {
	visibility: hidden;
	position: absolute;
	left: 24px;
	top: 32px;
	width: 304px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Group222 .PageHeaderSecondary_1 .PageHeader_1 ._2020_1 {
	position: absolute;
	left: 1416px;
	top: 32px;
	width: 0px;
	height: 16px;
	color : rgba(249.07833695411682,248.66042017936707,250.75000405311584,1);
	font-family: Roboto Mono;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame375 {
	position: absolute;
	left: 20px;
	top: 3px;
	width: 100px;
	height: 75px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame375 .Screenshot_20220306_161229removebgpreview4 {
	position: relative;
	margin-bottom: 10px;
	width: 80px;
	height: 55px;
	object-fit: cover;
	overflow: hidden;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame238 {
	position: absolute;
	left: 140px;
	top: 29px;
	width: 304.68994140625px;
	height: 22.295166015625px;
	display: flex;
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame238 .UKMUnpad_1 {
	position: relative;
	margin-right: 5px;
	width: 154.095703125px;
	height: 22.295166015625px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame238 .BeritaUKM_1 {
	position: relative;
	margin-right: 5px;
	width: 145.59423828125px;
	height: 22.295166015625px;
	color : rgba(242.00000077486038,242.00000077486038,242.00000077486038,1);
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 25.739999771118164px;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame376 {
	position: absolute;
	left: 1304.974609375px;
	top: 5px;
	width: 70px;
	height: 70px;
	display: flex;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
}
.UKMUnpadA_UKMUnpadA .NavbarSetelahLogin .Frame376 .Vector_5 {
	position: relative;
	margin-right: 10px;
	width: 71.42857142857143%;
	height: 71.42857142857143%;
}